---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_MAPS_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 06:07:07 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 385ms
      X-Forecast-Api-Calls:
      - '2'
      X-Response-Time:
      - 77.499ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578895627,"summary":"Clear","icon":"clear-night","nearestStormDistance":10,"nearestStormBearing":304,"precipIntensity":0,"precipProbability":0,"temperature":27.55,"apparentTemperature":27.57,"dewPoint":7.01,"humidity":0.41,"pressure":1017.2,"windSpeed":1.97,"windGust":5.02,"windBearing":238,"cloudCover":0.05,"uvIndex":0,"visibility":10,"ozone":388.4},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578895620,"precipIntensity":0,"precipProbability":0},{"time":1578895680,"precipIntensity":0,"precipProbability":0},{"time":1578895740,"precipIntensity":0,"precipProbability":0},{"time":1578895800,"precipIntensity":0,"precipProbability":0},{"time":1578895860,"precipIntensity":0,"precipProbability":0},{"time":1578895920,"precipIntensity":0,"precipProbability":0},{"time":1578895980,"precipIntensity":0,"precipProbability":0},{"time":1578896040,"precipIntensity":0,"precipProbability":0},{"t[...]
